@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.nav-bar-width {
  margin-top: 0;
  width: 100%;
}

@include media-breakpoint-up(md) {
  .nav-bar-width {
    margin-top: 0.5rem;
    width: 60%;
  }
}

.nav-background-color {
  background: color-mix(in srgb, black 35%, transparent);
  border-radius: 0.5rem;
}
