@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.nav-bar-width {
  margin-top: 0;
  width: 100%;
}

@include media-breakpoint-up(md) {
  .nav-bar-width {
    margin-top: 0.5rem;
    width: 60%;
  }
}

.nav-buttons-border {
  border-image: url('/assets/WebsiteBasicWrapper.png');
  border-image-slice: 50 fill;
  border-image-width: 30px;
  padding: 1rem;
  background: transparent;
}
