<app-article-card [$title]="'Shape Wars'">
  <app-button
          [color]="'salmon'"
          [action]="'link'"
          [showText]="true"
          [text]="'Shape Wars repo'"
          [link]="'https://github.com/DevByColton/ShapeWars/tree/master'">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="1.0rem"
         height="1.0rem"
         fill="currentColor"
         class="bi bi-github"
         viewBox="0 0 16 16">
      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
    </svg>
  </app-button>
  
  <p class="lato-bold">// MY GOAL FOR SHAPE WARS</p>
  <hr class="mb-2">
  <p class="mb-1">
    Shapes Wars is a <a href="https://store.steampowered.com/app/8400/Geometry_Wars_Retro_Evolved/" target="_blank" rel="noopener noreferrer">Geometry Wars</a> clone with my own twist. 
    My main purpose for creating this game was to program and design a complete game using C++. I used <a href="https://www.sfml-dev.org/" target="_blank" rel="noopener noreferrer">SFML</a>
    for the window, graphics, and audio systems. I referenced <a href="https://github.com/MonoGame/MonoGame.Samples/blob/3.8.2/NeonShooter/README.md" target="_blank" rel="noopener noreferrer">this tutorial for creating a Geometry Wars clone in C#/Monogame</a>
    for the maths involved in the background warping grid, particles, color generation based off hue, and rotation using quaternions. Systems of my own creation include snake and dodger enemies, nukes, and buff drops from enemies. I also designed the UI
    for handling buffs, lives, bombs, high score, and multiplier while taking up as little room as possible on the screen. I wrote all of these system using some principles from <a href="https://gameprogrammingpatterns.com/" target="_blank" rel="noopener noreferrer">Game Programming Patterns</a>.
    In creating this game I was able to learn a lot about C++, and I was able to flex all aspects of the game creation process by designing the code, the UI, creating my own assets, and 
    designing the gameplay to make it feel challenging, but still beatable, balanced, and fun.
  </p>
  <p class="lato-bold">// TECHNICAL SYSTEMS IMPLEMENTED</p>
  <hr class="mb-2">
  <ul class="mb-1">
    <li>Event driven input handling system. Including Mouse and Keyboard, Xbox (One or 360) controller, and Dualsense controller. Input can be from multiple sources at once, should you want to do that</li>
    <li>Fixed timestep for the core gameplay loop (60 fps) using chrono to track delta time</li>
    <li>Implemented object pools to allocate memory up front for enemies, particles, and bullets</li>
    <li>Randomized enemy spawning, with each enemy type having its own behavior logic using lambdas</li>
    <li>Tracking score and gameplay time, reading and writing high scores to a text file on startup and on achieving a new high score using fstream</li>
    <li>Implemented a gaussian blur shader using SFML shader class and GLSL</li>
    <li>Particle system using an object pool that fades the particle by velocity or its duration left</li>
    <li>Background grid system which is laid out by window size. The lines are drawn using SFMLs vertex primitives</li>
  </ul>
  <p class="lato-bold">// GAMEPLAY SYSTEMS IMPLEMENTED</p>
  <hr class="mb-2">
  <ul class="mb-1">
    <li>Core gameplay loop that is pause-able, and tracking player lives which resets the game if all lives are lost</li>
    <li>Randomized enemy spawns</li>
    <li>4 unique enemy types: Seeker, Wanderer, Dodger, and Snakes</li>
    <li>Nukes that kill all enemies and black holes on the board</li>
    <li>Black Holes which repel bullets but pull the player and particles in</li>
    <li>Randomized buffs which drop from enemies, the player can store them for later activation in the four slots available</li>
  </ul>
  <p class="lato-bold">// FINAL SYSTEMS TO IMPLEMENT BY END OF OCTOBER 2025</p>
  <hr class="mb-2">
  <ul>
    <li><b>(Currently in progress)</b> Gameplay balance, including variable enemy spawn rates over time for each different type, and their point values</li>
    <li>Gameplay sounds, placeholder sounds are currently implemented</li>
    <li>Final boss, with an endless mode after boss defeat, which just goes back to the core gameplay loop</li>
    <li>Start screen, pause screen, and options screen</li>
    <li>Add the finished build to my itch.io page for free download to play</li>
  </ul>
  <p class="lato-bold">// GAMEPLAY VIDEO</p>
  <hr class="mb-2">
  <video width="100%" height="100%" controls muted preload="auto" poster="/assets/ShapeWarsThumbnail.png">
    <source src="/assets/ShapeWars.mp4" type="video/mp4" />
  </video>
</app-article-card>

