<app-article-card [$title]="'Maestro'">
  <app-button
          class="me-2"
          [color]="'salmon'"
          [action]="'link'"
          [showText]="true"
          [text]="'Maestro repo'"
          [link]="'https://github.com/DevByColton/Maestro'">
    <svg xmlns="http://www.w3.org/2000/svg"
         width="1.0rem"
         height="1.0rem"
         fill="currentColor"
         class="bi bi-github"
         viewBox="0 0 16 16">
      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
    </svg>
  </app-button>
  <app-button
          class="mt-md-0 mt-2"
          [color]="'violet'"
          [action]="'click'"
          [showIcon]="false"
          [showText]="true"
          [text]="'Play Maestro'"
          (clickEvent)="playMaestroClick()" />
  
  <p class="lato-bold">// PIRATE SOFTWARE GAME JAM</p>
  <hr class="mb-2">
  <p class="mb-1">
    Maestro was created in 2 weeks during a 
    <a href="https://itch.io/jam/pirate16">pirate software game jam</a> using 
    <a href="https://godotengine.org/" target="_blank" rel="noopener noreferrer">Godot</a>, written in GDScript.
    The theme for the game jam was "You are the weapon". So a friend and I thought it would be fun to make a
    rhythm game where you are the music notes fighting back against an evil maestro. 
  </p>
  <p class="mb-1">
    We chose Godot for this game jam because we needed to just make the game and not worry about the engine side. Plus,
    we needed the game to be able to play in a browser for upload to itch.io. For that reason you can actually play
    the web build of Maestro <a [routerLink]="['/' + appRoutes.PLAY_MAESTRO]">here</a> on my site. There is a song 
    that plays along to the gameplay, so sound up!
  </p>
  <p class="mb-1">
    The gameplay is nothing fancy. Use A and D move left and right, space to jump, and QWERT to hit the notes as you come 
    into contact with them. This game jam was good experience for me because of the time limit. We only had two weeks
    to come up with the game idea once we got the prompt, create all of the assets, and code it.
  </p>
  <p class="lato-bold">// GAMEPLAY VIDEO</p>
  <hr class="mb-2">
  <video width="100%" height="100%" controls preload="auto">
    <source src="/assets/Maestro.mp4" type="video/mp4" />
  </video>

</app-article-card>