// Global styles

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

p {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 800;
}

body {
  margin: 0;
  background-image: url('assets/background.png');
  background-repeat: repeat repeat;
  height: 100%;
  width: 100%;
}
