// Global styles
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// https://fonts.google.com/specimen/Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0 !important;
}

body {
  margin: 0;
  background-image: url('/assets/Background.png');
  background-repeat: repeat repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.content-width {
  width: 100%;
}

@include media-breakpoint-up(md) {
  .content-width {
    width: 60%;
  }
}

.button-group-border {
  border-image: url('/assets/WebsiteBasicWrapper.png');
  border-image-slice: 50 fill;
  border-image-width: 30px;
  padding: 1rem;
  background: transparent;
}

hr {
  border: 1px solid #33322f !important;
  margin: 0 !important;
}
