<div class="d-flex flex-column w-100 h-100">
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
  <p class="text-white" style="font-size: 1rem">BLOG SOON</p>
</div>
